<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wjcouchenour.testapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Test App</name>
    <description>
        A PhoneGap app used to learn tools and skills used in building the Bridges App.
    </description>
    <author email="wcouchen@citadel.edu" href="https://github.com/WJCouchenour">
        W. Jacob Couchenour
    </author>
    <content src="index.html" />
    <access origin="*" />
    
    <preference name = "orientation" value = "portrait" />
</widget>
